@font-face {
    font-family: Proto;
    src: url(Proto.ttf);
}

* {
    margin: 0;
    padding: 0;

    font-family: Proto;
    background-color: var(--bgColour);
}

:root {
    --bgColour: #FFFFFF;
    --bgColourHeader: #FFFFFF;
    --txtColour: #1D1D1D;
    --txtColourLink: #1D1D1D;
}

a:link {
  text-decoration: none;
  color:var(--txtColourLink);
}

a:visited {
  text-decoration: none;
  color:var(--txtColourLink);
}

a:hover {
  text-decoration: underline;
  color:var(--txtColourLink);
}

a:active {
  text-decoration: underline;
  color:var(--txtColourLink);
}

main {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 75ch;       
    margin: 1em auto;        
    padding: 0 1em;        
}

h1 {
    font-size: 3em;
    margin-bottom: 5%;
}




.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10em;
    width: auto;
    padding-right: 10%;
    padding-left: 10%;
    background-color: var(--bgColourHeader);
    color:var(--txtColour);
}

.logoHeader {
    display: flex;
    font-size: 3em;
    font-style: italic;
    text-decoration: underline;
    background-color: var(--bgColourHeader);
    justify-content: center;
    align-items: center;
}

.logoHeader p {
    background-color: var(--bgColourHeader);
}

nav {
    display: flex;
    height: 100%;
    width: auto;
    gap:10em;

    flex-direction: row;
    align-items: center;

    background-color: var(--bgColourHeader);
}

.navigationBarSub {
    display:flex;
    height: 3em;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--bgColourHeader);
}

.navigationBarSub a {
    background-color: var(--bgColourHeader);
}

.navGradient {
    background-image: linear-gradient(180deg, var(--bgColourHeader), var(--bgColour));
    width: 100%;
    height: 2em;
}

#homeNav, #projectsNav, #educationNav, #contactNav{
    position:relative;
}

#logoNav{
    position:relative;
    background-color: var(--bgColourHeader);
}