:root {
  --navBarHeight: 10em;


  --bgColour: #FDFFF7;
  --navBarColour: #e34a6f;
  --navBarButtonColour: #FDFFF7;
  --navBarButtonHoverColour: #E5EAFA;
  --textColour: #50514F;
}

@font-face {
    font-family: Altone;
    src: url(Altone.ttf);
}

a {
    text-decoration: none;
    color: var(--textColour);
}


body {    
    font-family: Altone, sans-serif;
    background-color: var(--bgColour);
    color: var(--textColour);
}


nav {
    background-color: var(--navBarColour);
    width: 100%;
    height: var(--navBarHeight);

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2em;
}

.navigationBarSub {
    background-color: var(--navBarButtonColour);
    width: 10em;
    height: auto;
    text-align: center;
    margin-right: 1em;
    margin-left: 1em;
    text-decoration: none;
    color: var(--textColour);
    font-size: 2em;
    font-weight: bold;
    padding: 0.3em;
}

.navigationBarSub:hover {
    background-color: var(--navBarButtonHoverColour);
    cursor: pointer;
}